@media (max-width: 768px) {
  *{
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
  }
.banner-parent {

  width: 100%;
  height: 100%;
  max-width: 700px;
  margin: 30px auto;
  max-height: 300px;
 
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.clothes, .shoes, .technieque {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); 
  gap: 48px;
  padding: 20px;
  justify-items: center;
  grid-template-rows: repeat(1);
}

.uzum-section {
  max-width: 100%; 
  width: 100vw; 
  margin: 0; 
  padding: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-info {
  justify-content: center;
  gap: 5px;
}

.banner-parent {
  height: 250px;
}

.favorite{
  width: 20px;
  height: 20px;
}

.title{
  font-size: 20px;
}

.old-price ,.price{
  font-size: 20px;
}

}

@media (min-width: 0px) {
  .catalog{
      display: none;
  }
  .profile-info{
      display: none;
  }
  header {
    flex-direction: column;
    gap: 10px;
  }


  .banner-parent {
    width: 90%;
    height: 300px; 
      margin: 30px auto;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
   
  }

  .card {
    min-width: 100%;
    margin: auto;
  }

  .price {
    font-size: 14px;
  }

  .clothes-text, .shoes-text, .technieque-text {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1130px) {
  .catalog{
      display: block;
  }
  .profile-info{
      display: flex;
      padding-bottom: 10px;
  }
  header {
    flex-direction: row; 
    padding: 20px;
  }

  .banner-parent {
    width: 1000px; 
    height: 400px; 
    margin-top: 40px; 
    border-radius: 30px; 
  }
  

  .catalog {
    font-size: 1.2rem; 
    padding: 12px 25px; 
  }

  .products-category {
    padding-top: 84px; 
    max-width: 1144px;
    margin: auto;
  }

  .clothes, .shoes, .technieque {
    grid-template-columns: repeat(auto-fill, minmax(253px, 1fr)); 
    gap: 48px; 
  }

  .card {
    width: 100%;
    min-width: 253px; 
    margin: 0;
    background: #fff; 
  }

  .img-container img {
    height: 250px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    gap: 20px;
  }

  .footer-column {
    width: 30%; 
  }

  .footer-legal {
    font-size: 14px; 
  }
}

@media (max-width: 626px) {
  input[type="search"] {
    width: 500px;
  }

  .clothes, .shoes, .technieque {
    display: grid;
    grid-template-columns: repeat(2, minmax(230px, 1fr)); 
    gap: 48px;
    padding: 20px;
    justify-items: center;
    grid-template-rows: repeat(1);
  }

  .banner-parent {
    width: 600px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 20px;
  }

  .card {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
  }

  .img-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
  }

  .img-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}
@media (max-width: 1130px) {
 .menu{
  display: flex;
  justify-content: center;
  align-items: center;
 position: fixed;
 top: 705px;

 }
}
@media (max-width: 600px) {
.banner-parent{
  width: 510px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 20px;
}

.clothes, .shoes, .technieque {
  display: grid;
  grid-template-columns: repeat(2, minmax(230px, 1fr)); 
  gap: 48px;
  padding: 20px;
  justify-items: center;
  grid-template-rows: repeat(1);
}

.favorite{
  width: 20px;
  height: 20px;
}

.title{
  font-size: 20px;
}

.old-price ,.price{
  font-size: 18px;
}
}

@media (max-width: 526px) {
  .banner-parent {
    width: 100%;
    max-width: 500px;
    height: 250px;
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
  }

  input[type="search"] {
    width: 100%;
    max-width: 400px;
  }
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
   position: fixed;
   top: 715px;
  
   }

  .menu-item svg {
    width: 30px; 
    height: 30px;
  }
  .menu a{
    font-size: 12px;
  }

  .clothes,
  .shoes,
  .technieque {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
    justify-items: center;
  }

  .card {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .img-container img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 430px) {
  .clothes,
  .shoes,
  .technieque {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 10px;
    justify-items: center;
  }

  .img-container img {
    width: 100%;
    height: auto;
  }

  .img-container {
    width: 100%;
    height: auto;
  }

  .banner-parent {
    width: 100%;
    max-width: 400px;
    height: 200px;
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 35px;
  }

  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
   position: fixed;
   top: 726px;
  
   }

  .menu-item svg {
    width: 23px; 
    height: 23px;
  }
  .menu a{
    font-size: 9px;
  }

  .footer-legal a {
    font-size: 15px;
  }

  .footer-apps h4 , .footer-socials h4{
    font-size: 15px;
  }

  .footer-column h4 {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
  }

  .footer-column a{
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
  }
}
