*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}



.price-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-family: Arial, sans-serif;
  }
  

  .price-filter label {
    margin: 0;
    color: #333;
  }
  
  .price-filter input[type="number"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
  }
  .second-banner{

  width: 95%;
  height: 350px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 12px;
  background-image: url(https://images.uzum.uz/ct8qhkui4n3ehka2dvag/main_page_banner.jpg);
  background-size: 100% 100%;
  cursor: pointer;
}

.search-container{
  display: none;
  height: 300px;
  position: absolute;
  overflow-y: scroll;
  scrollbar-width: none;
  top: 100%; 
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1001; 
  padding: 0px;
}

.navbar {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f2f5;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
  }
  

  .navbar-list {
    width: 100%;
    display: flex;
    gap: 50%;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  

  .navbar-item {
    margin-right: 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .navbar-item .icon {
    margin-right: 5px;
  }
  

  .navbar-item.active {
    color: #800080;
    font-weight: bold;
  }
  

  .navbar-item:hover {
    color: #800080;
  }
  
  
  .filter-price {
    width: 300px;
    height: 100%;
    background-color: #f0e8ff;
    padding: 10px;
  }


  .price-filter input[type="range"] {
    appearance: none;
    width: 150px;
    height: 4px; 
    background: #e0e0e0; 
    border: none;
    border-radius: 2px; 
    outline: none;
    cursor: pointer;
  }


  .price-filter input[type="range"]:hover {
    background: #d8d8d8; 
  }
  .Sale-product{
    overflow-y: scroll;
    scrollbar-width: none;
  }
  footer {
    width: 100%;
    height: 60px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
       background-color:   #f8f9fa;
       box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.2);
    padding-top: 25px;
    padding-bottom: 20px;

    
    
        
      }


      .clothes, .shoes, .technieque ,.groceries{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
        gap: 8px;
        justify-items: center;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

      
      }
      .sale-text{
        padding-left: 20px;
      }
      
      .Sale{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 100vh;

      }
      .Sale-product{
        width: 100%;
        height: 100%;

      }

      .parent-minmax{
        display: flex;
        gap: 20px;
      }

      .max-parent ,.min-parent{
        display: flex;
        gap: 10px;
      }
    
    
      
    
      
      .footer-apps img, .footer-socials img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
      .apps{
        display: flex;
        flex-direction: column;
        gap: 0px;
      }
    
      .footer-apps{
        display: flex;
        gap: 10px;
      }
    
      
      .footer-legal {
        text-align: center;
        font-size: 12px;
        color: #999;
      }
      
      .footer-legal a {
        color: #666;
        text-decoration: none;
     
      }
      
      .footer-legal a:hover {
        color: #000;
      }
      
     
      .social{
        display: flex;
        flex-direction: row;
    
      }


    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f8f9fa;
        padding: 10px 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
      }
      .pay{
        width: 40px;
        height: 40px;
        border-radius: 5px;
      }

      
    
      .uzum-section2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0px;
      }
    
      .logo-container {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      
      .logo-container .log {
        height: 40px;
        width: 40px;
        background-color: #ddd; 
        border-radius: 50%;
      }
      
      .logo-container .logo-text {
        font-size: 1.2rem;
        font-weight: bold;
        color: #5c2d91; 
      }
      
     
      .catalog {
        background-color: #5c2d91;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;
      }
      
      .catalog:hover {
        background-color: #47216e; 
      }
      
    
      input[type="search"]  {
        padding-left: 30px; width: 600px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 5px;
        font-size: 1rem;
        transition: box-shadow 0.3s;
      }
      
      input[type="search"]:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
      
      svg {
        fill: #000;
      }
    
      .burger-btn{
        border: none; background: none; display: none; cursor: pointer;
      }
      
    .header-child{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
    
    .profile-info {
        display: flex;
        align-items: center;
        gap: 20px; 
        font-size: 1rem;
        color: black;
      }
    
      .profile-info .signin {
        display: flex;
        align-items: center;
        gap: 8px;
        background: none;
        border: none;
        font-size: 1rem;
        color: black;
        cursor: pointer;
      }
      
      .profile-info .signin svg {
        width: 20px;
        height: 20px;
      }
    
      
    
      .profile-info .tofovorite,
      .profile-info .basket {
        text-decoration: none;
        font-size: 1rem;
        color: black;
        cursor: pointer;
        transition: color 0.3s;
      }
      
      .profile-info .tofovorite:hover,
      .profile-info .basket:hover {
        color: #5c2d91; 
      }
      
      
      .profile-info .tofovorite:hover,
      .profile-info .basket:hover {
        background-color: #f0f0f0;
      }

      .footer-socials{
        display: flex;
      }

      .navbar-item {
        display: flex;
        align-items: center;
      }
      
      .navbar-item .icon {
        margin-right: 5px;
      }
      
      .language-selector {
        display: flex;
        align-items: center;
        border: none;
        background: transparent;
        cursor: pointer;
      }
      
      .language-selector .icon {
        margin-right: 5px;
      }
      
      .location{
        display: flex;
      }
      .uzru{
        display: flex;
      }


      .navbar-item {
        display: flex;
        align-items: center;
      }
      
      .navbar-item .icon {
        margin-right: 5px;
      }
      
      .region-selector {
        display: flex;
        align-items: center;
        border: none;
        background: transparent;
        cursor: pointer;
      }
      
      .region-selector .icon {
        margin-right: 5px;
      }
      


      .card {
        display: flex;
        text-align: start;
        flex-direction: column;
        justify-content: space-between;
      
        border-radius: 12px;
      }
      
      .img-container img {
        z-index: 0;
        border-radius: 5px;
      }
      
      .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: 100% 100%;
      }
      
      
      
      
      
      .title {
      
        text-align: start;
        font-size: 16px;
        color: #333;
        padding-bottom: 5px;
      
      }
      
      .price-container {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        background: #ffffff;
        border-radius:5px;
      }
      
      .old-price {
        font-size: 12px;
        color: #aaa;
        text-decoration: line-through;
       
      }
      
      .price-and-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      }
      
      .price {
        font-size: 16px;
        font-weight: bold;
        color: #333;
       
      }
      
      .cart-icon {
        font-size: 19px;
        cursor: pointer;
        transition: color 0.3s ease;
      }
      
      .cart-icon:hover {
        transform: scale(1.1);
      }
      
      .card{
        background-color: #ffffff;
      }
      
      .card:hover {
        transform: scale(1.03);
        transition: ease-in 0.1s;
      }
      
      .shoes-text  , .technieque-text {
        margin-left: 25px;
        padding-left: 20px;
        margin-top: 54px;
       margin-bottom: 31px;
      }
      
      .groceries-text{
      
        padding-left: 20px;
        margin-top: 100px;
        padding-bottom: 31px;
      }
      
      
      
      
      
      
      .clothes-text{
        margin-left: 20px;
        margin-top: 84px;
        margin-bottom: 31px;
      }
      img{
      background-size: 100% ,100%;
      
      }
      .toLove:hover{
      transform: scale(1.1);
      }
      .img-container img {
        z-index: 0;
        border-radius: 5px;
      }
      
      .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: 100% 100%;
      }
      
      .card {
        display: flex;
        text-align: start;
        flex-direction: column;
        justify-content: space-between;
      
        border-radius: 12px;
      }

      .card{
        background-color: #ffffff;
      }
      
      .card:hover {
        transform: scale(1.03);
        transition: ease-in 0.1s;
      }

      .price ,.old-price ,.img-container ,.title{
        cursor: pointer;
      }


      
.img-container img {
  z-index: 0;
  border-radius: 5px;
}

.img-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-size: 100% 100%;
}

img{
  background-size: 100% ,100%;
  
  }

  .img-container{
    height: 300px;
    width: 100%;
  }


  .img-container img {
    width: 253px;
    height: 100%;
    object-fit: cover;
    background-size: 100% 100%;
  }
  
  .ctg-ctg{
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .ctg-beauty,.ctg-furniture ,.ctg-fragrances,.ctg-groceries{
    background: none;
    border: none;
    text-align: start;
    cursor: pointer;
  }

  .ctg-beauty:hover, .ctg-furniture:hover, .ctg-fragrances:hover, .ctg-groceries:hover {
    color: #47216e; 
    transform: scale(1.03);
  }
  .old-ctg{
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .ctg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-left: 30px;
  }
  .filter-price{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .category-p{
    background-color: yellow;
    border-radius: 4px;
    font-size: 13px;
  }
  .sale-procent{
    position: relative;
    top: -10%;
    right: -3%;
    background-color: yellow;
    border-radius: 4px;
    font-size: 13px;
    width: 80px;
    z-index: 1000;

  }