*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}
.uzum-section {
  width: 100%;

}



header {
  display: flex;
  align-items: center;
  justify-content: space-between;
 flex-direction: row;
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.basket-parent{
  display: flex;
  gap: 5px;
}

.category{
  display: flex;
  align-items: center;
  gap: 17px;
}

.basket-count{
  background-color: #5c2d91;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-count ,.clothes-count ,.shoe-count ,.groceries-count{
  background-color: #5c2d91;
  width: 70px;
  font-size: 12px;
  height: 16px;
  border-radius: 2px;
  color: #fff;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}


.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container .log {
  height: 40px;
  width: 40px;
  background-color: #ddd; 
  border-radius: 50%;
}

.logo-container .logo-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #5c2d91; 
}




.catalog {
  background: #EAEAF9;
  color: #3333CC;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.catalog:hover {
  background-color: #47216e; 
  color: white;
}


input[type="search"]  {
  padding-left: 30px; width: 600px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  transition: box-shadow 0.3s;
}


input[type="search"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

svg {
  fill: #000;
}

.header-child{
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 20px; 
  font-size: 1rem;
  color: black;
}

.profile-info .signin {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}

.profile-info .signin svg {
  width: 20px;
  height: 20px;
}


.profile-info .tofovorite,
.profile-info .basket {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  transition: color 0.3s;
}

.profile-info .tofovorite:hover,
.profile-info .basket:hover {
  color: #5c2d91; 
}


.profile-info .tofovorite:hover,
.profile-info .basket:hover {
  background-color: #f0f0f0;
}



.banner-parent {
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-image: url(../logos/pUW8cv16847430816132_l.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.price ,.old-price ,.img-container ,.title{
  cursor: pointer;
}

.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}


.left ,.right{
  border: none;
  background: none;
  cursor: pointer;

}
.banner-parent {
  width: 1144px;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background-color: #000; 
}

.second-banner{
  width: 1144px;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 12px;
  background-image: url(https://images.uzum.uz/ct8qhkui4n3ehka2dvag/main_page_banner.jpg);
  background-size: 100% 100%;
  cursor: pointer;
}


.second-banner:hover {
  transform: scale(1.02);
  transition: ease-in 0.2s;
}



.banner-images {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  transition: transform 1s ease-in-out;
}

.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.clothes-ctg{
  width: 100%;
}



.clothes, .shoes, .technieque ,.groceries{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
  gap: 48px;
  justify-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

}








.card {
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 12px;
}

.img-container img {
  z-index: 0;
  border-radius: 5px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: 100% 100%;
}





.title {

  text-align: start;
  font-size: 16px;
  color: #333;
  padding-bottom: 5px;

}

.price-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #ffffff;
  border-radius:5px;
}

.old-price {
  font-size: 12px;
  color: #aaa;
  text-decoration: line-through;
 
}

.price-and-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
 
}

.cart-icon {
  font-size: 19px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-icon:hover {
  transform: scale(1.1);
}

.card{
  background-color: #ffffff;
}

.card:hover {
  transform: scale(1.03);
  transition: ease-in 0.1s;
}

.shoes-text  , .technieque-text {
  margin-left: 25px;
  padding-left: 20px;
  margin-top: 54px;
 margin-bottom: 31px;
}

.groceries-text{

  padding-left: 20px;
  margin-top: 100px;
  padding-bottom: 31px;
}






.clothes-text{
  margin-left: 20px;
  margin-top: 84px;
  margin-bottom: 31px;
}
img{
background-size: 100% ,100%;

}
.toLove:hover{
transform: scale(1.1);
}
.navbar {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f2f5;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  z-index: 1003;
  position: relative;
}


.navbar-list {
  width: 100%;
  display: flex;
  gap: 50%;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.navbar-item {
  margin-right: 20px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-item .icon {
  margin-right: 5px;
}


.navbar-item {
  display: flex;
  align-items: center;
}

.navbar-item .icon {
  margin-right: 5px;
}

.navbar-item.active {
  color: #800080;
  font-weight: bold;
}


.navbar-item:hover {
  color: #800080;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.navbar-item .icon {
  margin-right: 5px;
}


.location{
  display: flex;
}

.uzru{
  display: flex;
}


footer {
  width: 100%;
  height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-color:   #f8f9fa;
     box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.2);
  padding-top: 25px;
  padding-bottom: 20px;
  margin-top: 40px;
  
      
    }
    .navbar-item {
      margin-right: 20px;
      font-size: 14px;
      color: #333;
      cursor: pointer;
      display: flex;
      align-items: center;
      border: none;
      background: none;
    }
    
    .navbar-item .icon {
      margin-right: 5px;
    }
    
  
    .navbar-item.active {
      color: #800080;
      font-weight: bold;
    }
    
  
    .navbar-item:hover {
      color: #800080;
    }
    
  
  
    
  
    
    .footer-apps img, .footer-socials img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
    .apps{
      display: flex;
      flex-direction: column;
      gap: 0px;
    }
  
    .footer-apps{
      display: flex;
      gap: 10px;
    }
  
    .navbar-item {
      display: flex;
      align-items: center;
    }
    
    .navbar-item .icon {
      margin-right: 5px;
    }
    
    .footer-legal {
      text-align: center;
      font-size: 12px;
      color: #999;
    }
    
    .footer-legal a {
      color: #666;
      text-decoration: none;
   
    }

    .footer-socials{
      display: flex;
    }
    
    .footer-legal a:hover {
      color: #000;
    }
    
   
    .social{
      display: flex;
      flex-direction: row;
  
    }
    
    .navbar-item {
      display: flex;
      align-items: center;
    }
    
    .navbar-item .icon {
      margin-right: 5px;
    }



.region-selector ,.language-selector{
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.region-selector .icon {
  margin-right: 5px;
}

.menu {
  display: none;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #eeeff0;
  top: 580px; 
  left: 50%; 
  transform: translateX(-50%); 
  gap: 60px;
  box-shadow: 3px -3px 8px rgba(0, 0, 0, 0.2);
 padding: top 10px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #888;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #000;
}
.footer-column a {
  margin-left: 10px;
margin-right: 10px;
}
.biznes{
margin-left: 10px;
margin-right: 10px;

}

.menu-item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  fill: #888;
  transition: fill 0.3s ease;
}

.menu-item:hover svg {
  fill: #000;
}
.search-text{
  
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 20px;

}

.tech-category , .clothes-category ,.shoe-category ,.cansel-category ,.groceries-category{
  display: flex;
  cursor: pointer;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-size: 22px;
  font-weight: 600;

}


.old-ctg{
  display: flex;
  align-items: center;
  gap: 15px;
}

.ctg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-left: 30px;
}
.filter-price{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.category-p{
  background-color: yellow;
  border-radius: 2px;
  font-size: 13px;
}


.categorys , .category-text {
margin-left: 100px;
}
.category ,.cansel-category{
  padding-bottom: 10px;
}
.category-text{
  color: #ACACAC;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 20px;
  padding-top: 25px;
}
.nav{
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 998; 
  display: none; 
}


.catalog-container {
  top: calc(100% + 10px); 
}



.catalog-container{
  display: none;
  justify-content: start;
  position: absolute;
  top: 13%;
  width: 105%;
  height: 280px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


header {
  position: relative;
  z-index: 1000; 
}


.catalog-container {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1001; 
  padding: 0px;
}




.sigin-modal {
  width: 470px;
  height: 500px;
  background-color:#ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px; 
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.text-parent{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.sigin-h1{
  text-align: start;
  padding-left: 40px;
  font-size: 22px;
}

.sigin-p{
  text-align: start;
  padding-left: 40px;
  font-size: 18px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sigin-input ,.nickname ,.birthDate{
  width: 400px;
  height: 48px;
  border: none;
  background-color: #edeff2;
  border-radius: 10px;
  padding-left: 10px;
}

.birthDate{
  padding-right: 10px;
}

.sumbit-code ,.login-btn{
  width: 400px;
  height: 48px;
  border: none;
  background-color: #7000ff;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-weight: 545;
}

.politic-p{
  margin-top: 20px;
  font-weight: 540;
  font-size: 15px;
}

.cansel-btn {

border: none;
background: none;
cursor: pointer;
padding-left: 80%;
 
}


.media-menu {
  width: 100%;
  height: 80px;
  background-color: #f8f9fa;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: fixed;
  bottom: 0;
}


.global-page, .menu-catalog, .menu-basket ,.toProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px; 
  color: #7000ff;
  font-weight: 550;
  border: none;
  background: none;
  cursor: pointer;

}

.global-page:hover, .menu-catalog:hover, .menu-basket:hover ,.toProfile:hover{
  transform: scale(1.1);
  transition: ease-in 0.08s;
}

.sale-procent{
  position: relative;
  top: -10%;
  right: -3%;
  background-color: yellow;
  border-radius: 4px;
  font-size: 13px;
  width: 80px;
  z-index: 1000;

}
