*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}
.uzum-section {
  width: 100%;
  padding-bottom: 100px;
  scrollbar-width: none;


}



header {
height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 flex-direction: row;
 padding-top: 20px;
 padding-left: 100px;
  font-family: Arial, sans-serif;
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;
}

.basket-parent{
  display: flex;
  gap: 5px;
  align-items: center;
}

.category{
  display: flex;
  align-items: center;
  gap: 17px;
}

.basket-count ,.basket-count3{
  background-color: #5c2d91;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basket-count3{
  background-color: #5c2d91;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 5%;
  left: 51%;
}

.beauty ,.grocerie ,.fragrances ,.furniture{
  background: none;
  border: none;
  cursor: pointer;
  color: #47216e;
  font-size: 20px;
  text-align: start;
  margin-left: 30px;
}


.beauty:hover ,.grocerie:hover ,.fragrances:hover ,.furniture:hover{
transform: scale(1.02);
}
.category-beaty ,.category-fregrances ,.category-furniture ,.category-grociries{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-right: 30px;
  gap: 28px;
  justify-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 80px;padding-top: 40px;
}
.ctg-h1{
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
}
.ctg-parent{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.card2{
  width: 253px;
}
.img-nothing{
  width: 300px;
  height: 300px;
  background-image: url(../logos/penguin.a739ac8.png);
  background-size: cover;
}

.ctg-nothing{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.tech-count ,.clothes-count ,.shoe-count ,.groceries-count {
  width: 70px;
  font-size: 12px;
  height: 16px;
  border-radius: 2px;
  color: white;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #47216e;
}

.ctg{
  color: grey;
  font-size: 15px;
  padding-bottom: 5px;
}
.ctg-norhing-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.category-beaty ,.category-fregrances ,.category-furniture ,.category-grociries{
  padding-right: 20px;
  overflow-y: scroll;
  width: 1000px;
  scrollbar-width: none;
}
.catalog-page{
  display: none;
  flex-direction: row;
}


.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;

}

.logo-container .log {
  width: 32px;
  height: 32px;
  background-color: #ddd; 
  border-radius: 50%;
}

.logo-container .logo-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #5c2d91; 
}




.catalog {
  height: 42px;
  text-align: center;
  background: #EAEAF9;
  color: #3333CC;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
font-size: 13px;
font-weight: 500;
line-height: 15.77px;
display: flex;
justify-content: center;
align-items: center;

}

.catalog:hover {
  background-color: #47216e; 
  color: white;
}


input[type="search"]  {
  height: 41px;
  padding-left: 30px; 
  width: 590px;
  border: 1.5px solid #e0dfdf;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  transition: box-shadow 0.3s;
}


input[type="search"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

svg {
  fill: #000;
}

.header-child{
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 10px; 
  font-size: 1rem;
  color: black;
  margin-right: 20px;
}

.profile-info .signin {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}

.profile-info .signin svg {
  width: 20px;
  height: 20px;
}


.profile-info .tofovorite,
.profile-info .basket {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  transition: color 0.3s;
}

.profile-info .tofovorite:hover,
.profile-info .basket:hover {
  color: #5c2d91; 
}


.profile-info .tofovorite:hover,
.profile-info .basket:hover {
  background-color: #f0f0f0;
}



.banner-parent {
  width: 90%;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-image: url(../logos/pUW8cv16847430816132_l.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.price ,.old-price ,.img-container ,.title{
  cursor: pointer;
}

.left, .right {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  user-select: none;
  background-color: #ffffff;

}


.left {
  left: 10px;
}

.right {
  right: 10px;
}


.left ,.right{
  border: none;
  background: none;
  cursor: pointer;

}
.banner-parent {
  width: 1144px;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background-color: #000; 
}

.second-banner{
  width: 1144px;
  height: 400px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 12px;
  background-image: url(https://images.uzum.uz/ct8qhkui4n3ehka2dvag/main_page_banner.jpg);
  background-size: 100% 100%;
  cursor: pointer;
}


.second-banner:hover {
  transform: scale(1.02);
  transition: ease-in 0.2s;
}



.banner-images {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  transition: transform 1s ease-in-out;
}

.left, .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.clothes-ctg{
  width: 100%;
}

.searching-lobby{
  display: none;
}
.search-parent{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(203px, 1fr));
  gap: 48px;
  justify-items: center;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; 
}
.clothes, .shoes, .technieque, .groceries  {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(203px, 1fr));
  gap: 48px;
  justify-items: center;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box; 
}

.lovely {
  padding-top: 40px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(203px, 1fr));
  gap: 48px;
  justify-items: center;
  width: 100%;
  padding-left: 50px;
  padding-right: 20px;
}








.card {
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 12px;
}

.img-container img {
  z-index: 0;
  border-radius: 5px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: 100% 100%;
}




.title {

  text-align: start;
  font-size: 16px;
  color: #333;
  padding-bottom: 5px;

}

.price-container2 {
  width: 300px;
  height: 400px;
  background-color: #EAEAF9;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius:5px;
}

.old-price {
  font-size: 12px;
  color: #aaa;
  text-decoration: line-through;
 
}

.price-and-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
 
}

.cart-icon {
  font-size: 19px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cart-icon:hover {
  transform: scale(1.1);
}

.card{
  background-color: #ffffff;
}

.card:hover {
  transform: scale(1.03);
  transition: ease-in 0.1s;
}

.shoes-text  , .technieque-text {
  margin-left: 25px;
  padding-left: 20px;
  margin-top: 54px;
 margin-bottom: 31px;
}

.groceries-text{

  padding-left: 20px;
  margin-top: 100px;
  padding-bottom: 31px;
}






.clothes-text{
  margin-left: 20px;
  margin-bottom: 31px;
}
img{
background-size: 100% ,100%;

}
.toLove:hover{
transform: scale(1.1);
}
.navbar {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f2f5;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  z-index: 1003;
  position: relative;
}
.toPage ,.toPage2{
  width: 180px;
  height: 50px;
  background-color:#e6e8ed;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #4f5961;
  font-weight: 550;
    font-size: 15px;
    margin: auto;
}

.toPage:hover ,.toPage2:hover{
  background-color:#EAEAF9 ;
  color: #4616b5;
  transition: ease-in 3ms;
  transform: scale(1.01);
}
.showMore:hover ,.showMore2:hover,.showMore3:hover,.showMore4:hover{
  background-color:#EAEAF9 ;
  color: #4616b5;
  transition: ease-in 3ms;
  transform: scale(1.01);
}


.navbar-list {
  width: 100%;
  display: flex;
  gap: 50%;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

 .card-parent{
  display: block;
  scrollbar-width: none;
 }
.navbar-item {
  margin-right: 20px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.nothing-heart ,.nothing-basket {
  display: none;
  flex-direction: column;
  padding-top: 15%;
  text-align: center; 
  gap: 10px; 
  margin: 0; 
}
.toPage ,.toPage2{
  margin-top: 10px;
}
.toFovorite-parent{
  width: 100%; 
  height: 100vh; 
display: none;
flex-direction: column;
justify-content: center;
align-items: center;
}
.toPage ,.toPage2{
  margin-top: 10px;
}
.toFovorite-parent{
  width: 100%; 
  height: 100vh; 
display: none;
flex-direction: column;
justify-content: center;
align-items: center;
}
.basket-pay {
  margin-right: 50px;
  width: 418px;
  height: 205px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 45px;
  padding-top: 20px;
  gap: 21px;
}
.price-info{
  width: 90%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.basket-price {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: start;
  color: #000;
}
.basket-item{
  width: 906px;
height: 654px;
border-radius: 10px;
border: 1.5px solid #e0e0e0;
margin-left: 50px;
overflow-y: scroll;
scrollbar-width: none;
}
.div{
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
}
.basket-count2 {
  font-size: 16px;
  color: #666;

}
.baskets{
  display: flex;
  gap: 17px;
}
.basket-parent2{
  display: none;
  flex-direction: column;
  gap: 31px;
}
.basket-text{
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 50px;
}


.btn-pay {
  width: 358px;
  height: 102px;
  display: inline-block;
  color: #fff;
  background-color: #8a00ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.btn-pay:hover {
  background-color: #6e00cc;
}


.searching-btn {
  width: 150px;
  height: 40px;
  display: inline-block;
  color: #fff;
  background-color: #8a00ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.searching-info{
  color: #a4a1a1;
  font-weight: 600;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 30px;


}

.search-textandbtn{
  display: flex;
  gap: 20px;
  padding-top: 30px;
  padding-left: 10px;
}

.searching-btn:hover {
  background-color: #6e00cc;
}
.lovely-text{
  padding-left: 50px;
  padding-bottom: 31px;
  padding-top:40px ;
}
.text-heart ,.text-basket{
  margin: auto;
}
.heart ,.bask-img{
  margin: auto;
  width: 134px;
height: 134px;
}
.navbar-item .icon {
  margin-right: 5px;
}


.navbar-item {
  display: flex;
  align-items: center;
}  .price-container2 {
      text-align: center;
    }

    .range-slider {
      width: 300px;
      margin: 20px auto;
    }

    input[type="number"] {
border: none;
background: none;
    }
    .input1 ,.input2{
      width: 230px;
      margin-left: 10px;
      background-color: #ffffff;
      border: solid 1.5px grey;
      border-radius: 5px;
      display: flex;
      justify-content: space-around;
      color: grey;
    }
   .price-container2 label{
    margin-left: 35px;
    margin-bottom: 20px;
    color: #888;
    text-align: start;
   }
   .accept-Filter{
    width: 400px;
    height: 48px;
    border: none;
    display: none;
    background-color: #7000ff;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: 545;
   }

  .price-container2{
    padding-top: 40px;
    height: 100vh;
    box-shadow: #000;
  }   input[type="range"] {
      width: 80%;
    }
 

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: center;
      align-items: center;
    }

.navbar-item .icon {
  margin-right: 5px;
}

.navbar-item.active {
  color: #800080;
  font-weight: bold;
}


.navbar-item:hover {
  color: #800080;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.navbar-item .icon {
  margin-right: 5px;
}


.location{
  display: flex;
}

.uzru{
  display: flex;
}


footer {
  width: 100%;
  height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-color:   #f8f9fa;
     box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.2);
  padding-top: 5px;
  padding-bottom: 20px;
  margin-top: 40px;
  
      
    }
    .navbar-item {
      margin-right: 20px;
      font-size: 14px;
      color: #333;
      cursor: pointer;
      display: flex;
      align-items: center;
      border: none;
      background: none;
    }
    
    .navbar-item .icon {
      margin-right: 5px;
    }
    
  
    .navbar-item.active {
      color: #800080;
      font-weight: bold;
    }
    
  
    .navbar-item:hover {
      color: #800080;
    }
    
  
  
    
  
    
    .footer-apps img, .footer-socials img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
    .apps{
      display: flex;
      flex-direction: column;
      gap: 0px;
    }
  
    .footer-apps{
      display: flex;
      gap: 10px;
    }
  
    .navbar-item {
      display: flex;
      align-items: center;
    }
    
    .navbar-item .icon {
      margin-right: 5px;
    }
    
    .footer-legal {
      text-align: center;
      font-size: 12px;
      color: #999;
    }
    
    .footer-legal a {
      color: #666;
      text-decoration: none;
   
    }

    .footer-socials{
      display: flex;
    }
    
    .footer-legal a:hover {
      color: #000;
    }
    
   
    .social{
      display: flex;
      flex-direction: row;
  
    }
    
    .navbar-item {
      display: flex;
      align-items: center;
    }
    
    .navbar-item .icon {
      margin-right: 5px;
    }



.region-selector ,.language-selector{
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.region-selector .icon {
  margin-right: 5px;
}

.menu {
  display: none;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #eeeff0;
  top: 580px; 
  left: 50%; 
  transform: translateX(-50%); 
  gap: 60px;
  box-shadow: 3px -3px 8px rgba(0, 0, 0, 0.2);
 padding: top 10px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #888;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #000;
}
.footer-column a {
  margin-left: 10px;
margin-right: 10px;
}
.biznes{
margin-left: 10px;
margin-right: 10px;

}
.cansel-range-par{
  display: flex;
  gap:50%;
}
.cansel-ctg{
  background: none;
  border: none;
  display: none;
}
.openFilter-ctg{
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  padding-right: 94%;
}
.menu-item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  fill: #888;
  transition: fill 0.3s ease;
}

.menu-item:hover svg {
  fill: #000;
}
.search-text{
  
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 20px;

}

.tech-category , .clothes-category ,.shoe-category ,.cansel-category ,.groceries-category ,.category-fregrances {
  display: flex;
  cursor: pointer;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-size: 22px;
  font-weight: 600;

}
.category-par{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;


}


.old-ctg{
  display: flex;
  align-items: center;
  gap: 15px;
}

.ctg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-left: 30px;
}
.filter-price{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.category-p{
  background-color: yellow;
  border-radius: 2px;
  font-size: 13px;
}


.categorys , .category-text {
margin-left: 100px;
}
.category ,.cansel-category{
  padding-bottom: 10px;
}
.category-text{
  color: #ACACAC;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 20px;
  padding-top: 25px;
}
.nav{
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 998; 
  display: none; 
}






.sigin-modal {
  width: 470px;
  height: 420px;
  background-color:#ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px; 
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.sigin-modal2 {
  width: 470px;
  height: 420px;
  background-color:#ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px; 
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 20px;

}


.text-parent{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.sigin-h1{
  text-align: start;
  padding-left: 40px;
  font-size: 22px;
}

.sigin-p{
  text-align: start;
  padding-left: 40px;
  font-size: 18px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sigin-input ,.nickname ,.birthDate{
  width: 400px;
  height: 48px;
  border: none;
  background-color: #edeff2;
  border-radius: 10px;
  padding-left: 10px;
}

.email ,.nickName {
  width: 400px;
  height: 48px;
  border: none;
  background-color: #edeff2;
  border-radius: 10px;
  padding-left: 10px;
}
.region{
  width: 200px;
  height: 48px;
  border: none;
  background-color: #edeff2;
  border-radius: 10px;
  padding-left: 10px;
}
.ragion-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.birthDate{
  padding-right: 10px;
}

.sumbit-code ,.loginbtn{
  width: 400px;
  height: 48px;
  border: none;
  background-color: #7000ff;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-weight: 545;
}

.politic-p{
  margin-top: 20px;
  font-weight: 540;
  font-size: 15px;
}

.cansel-btn {
padding-bottom: 0px;
border: none;
background: none;
cursor: pointer;
padding-left: 80%;
 
}
.cansel-btn2 {
  padding-bottom: 0px;
  border: none;
  background: none;
  cursor: pointer;
  padding-left: 80%;
  padding-top: 5px;
   
  }
  .hidden {
    display: none;
}


  .showMore ,.showMore2 ,.showMore3 ,.showMore4{
    display: none;
    width: 150px;
    height: 40px;
    font-weight: 550;
    color: #4f5961;
    background-color:#e6e8ed;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;

  }  
.search-container{
  display: none;
  width: 107.3%;
  height: 200px;
  position: absolute;
  top: 90px;
  overflow-y: scroll;
  background-color: #fffbfb;
  scrollbar-width: none;
}



.media-menu {
  width: 100%;
  height: 60px;
  background-color: #f8f9fa;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 100px;
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: fixed;
  bottom: 0;
  margin-top: 40px;
}
.margin{
height: 150px;
width: 100%;
}

.global-page, .menu-catalog, .menu-basket ,.toProfile,.toHeart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #7000ff;
  font-weight: 550;
  border: none;
  background: none;
  cursor: pointer;

}
.global-page img {
  width: 30px;
  height: 30px;
}


.global-page:hover, .menu-catalog:hover, .menu-basket:hover ,.toProfile:hover ,.toHeart{
  transform: scale(1.1);
  transition: ease-in 0.08s;
}

.sale-procent{
  position: relative;
  top: -10%;
  right: -3%;
  background-color: yellow;
  border-radius: 4px;
  font-size: 13px;
  width: 80px;
  z-index: 990;

}


.toLove{
  position: relative;
  top: -105%;
  right: -90%;
  font-size: 24px;
  z-index: 990;
}


.basket-card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 15px;
}

.basket-img-con {
  width: 143px;
  height: 187px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}

.basket-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.basket-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.basket-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.basket-price2 {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 89px;
  height: 30px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  padding: 5px;
}

.quantity-btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.quantity-btn:hover {
  background-color: #f0f0f0;
}

.quantity-value {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
  width: 30px;
}


.remove-btn {
  width: 80px;
height: 32px;
text-align: center;
  background-color: #EAEAF9;
  color: #3333CC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.remove-btn:hover {
  background-color: #5900ff;
  color: white;
}
.catalog-container ,.search-container{
  top: calc(100% + 10px); 
}



.catalog-container ,.search-container{
  display: none;
  justify-content: start;
  position: absolute;
  top: 13%;
  width: 105%;
  height: 280px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


header {
  position: relative;
  z-index: 1000; 
}


.catalog-container,.search-container {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1001; 
  padding: 0px;
}
.quantity-control {
  width: 70px; 
  height: 40px; 
  font-size: 18px; 
  text-align: center; 
  border: 1px solid #b6b3b3; 
  border-radius: 5px; 
  outline: none; 
  padding: 5px;
  background-color: #f8f9fa; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}



.pay-parent{
  width: 418px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;


}

.paypay{
  margin: auto;
  display: flex;
  gap: 9px;
}
.pay{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.pay-Basket-parent{
  display: flex;

  flex-direction: column;
justify-content: center;
align-items: center;
}